:root {
    --tp-theme-color: #0057FC;
    --tp-theme-color-slide: #71A2FF;
    --tp-theme-sec-color: #0A0E1A;
    --tp-theme-body: #57595c;
    --tp-theme-blue: #001C52;
    --tp-common-black: #0A0E1A;
    --tp-hero-small: #b1b4ba;
    --tp-spw-color: #fbf6ef;
    --tp-rom-color: #ffe5e5;
    --tp-yellow: #FFE815;
    --tp-yellow-bg: #FEDC76;
    --tp-orange: #FF5B15;
    --tp-redis-orange: #F2DDD1;
    --tp-yellow-slide: #E5CF00;
    --tp-black: black;
    --tp-white: #fff;
    --tp-rain: #2f446b;
    --tp-spring: #FBF6EF;
    --tp-neblue: #001d52;
    --tp-faq-border: #D9D9D9;
    --tp-span-bg: #FFE9C9;
}