:root {
    --tp-theme-color: #0057FC;
    --tp-theme-sec-color: #0A0E1A;
    --tp-theme-body: #57595c;
    --tp-theme-blue: #001C52;
    --tp-common-black: #0A0E1A;
    --tp-hero-small: #b1b4ba;
    --tp-yellow: #FFE815;
    --tp-black: black;
    --tp-white: #fff;

}