@use"../../utils" as *;

.tp-footer {
    &-2 {
        &-area {}

        &-logo {
            @media #{$md,$xs,$lg} {
                padding-left: 0;
            }
        }

        &-newsletter {
            margin-right: 82px;

            & h4 {
                font-size: 20px;
                color: var(--tp-theme-sec-color);
            }
        }

        &-submit {
            position: absolute;
            top: 21px;
            right: 0;
        }

        &-social {
            & i {
                font-size: 29px;
                margin-right: 20px;
            }
        }

        &-widget {
            @media #{$md,$xs} {
                padding-left: 0;
            }

            & span {
                font-size: 17px;

                color: var(--tp-theme-body);
            }

            &-title {
                font-size: 20px;
                color: var(--tp-theme-sec-color);
            }

            & ul {
                & li {
                    margin-bottom: 10px;

                    & a {
                        font-size: 17px;

                        color: var(--tp-theme-body);
                    }
                }
            }

            &__title {
                font-size: 20px;
                color: var(--tp-theme-sec-color);
            }


        }

        &-contact {
            & span {
                font-size: 17px;
                display: inline-block;
                color: var(--tp-theme-body);
            }

            &__title {
                font-size: 30px;
                color: var(--tp-theme-sec-color);
            }
        }

        &-copyright {
            @media #{$md} {
                text-align: center;
            }

            & P {
                font-size: 17px;
                color: var(--tp-theme-body);

                & span {
                    color: var(--tp-orange);
                }
            }

            &-nav {
                & ul {
                    & li {
                        & a {
                            color: var(--tp-theme-body);
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        &-bottom {
            border-top: 1px solid var(--tp-theme-body);
            padding-top: 42px;

        }

    }

    &-3 {
        &-newsletter {
            @media #{$md,$xs} {
                padding-left: 0;
            }

            & h4 {
                font-size: 20px;
                color: var(--tp-white);
            }

            & .form-check {
                & input {

                    --bs-form-check-bg: none;
                    border: 1px solid var(--tp-theme-body);
                }

                & label {
                    color: #B1B4BA;
                }
            }

            & form {
                & i {
                    color: var(--tp-orange);
                }
            }
        }

        &-social {
            & i {
                color: #B1B4BA;
                margin-right: 20px;
                font-size: 29px;
                @include transition(.3s);

                &:hover {
                    color: var(--tp-orange);
                }
            }
        }
    }

    &-btn {
        border: 1px solid rgba(255, 255, 255, .15);
        padding: 36px 0;
        border-radius: 20px;
        @include transition(.3s);

        @media #{$md,$xs} {
            margin-top: 30px;
        }

        & a {
            font-size: 30px;
            text-align: center;
            color: var(--tp-white);
            display: inherit;

            @media #{$md} {
                font-size: 23px;
            }
        }

        &:hover {
            background-color: var(--tp-orange-3);
        }
    }
}

.brand-section-title {
    border-top: 1px solid var(--tp-theme-body);

}

.brand-section-title h2 {
    color: white;
    font-size: 30px;
    background-color: #1A1A1A;
    display: inline-block;
    @include transform(translateY(-20px));
    padding: 0 40px;

    @media #{$xs} {
        font-size: 18px;
    }


}