@use"../../utils" as *;

.tp-footer {

    &-shape-1 {
        top: 300px;
        left: 320px;

        z-index: 1;

    }

    &-shape-2 {
        top: 107px;
        left: 45%;


    }

    &-shape-3 {
        top: 107px;
        right: 97px;


    }

    &-shape-4 {
        bottom: 58px;
        right: 222px;
        z-index: 1;

    }


    &-line {
        height: 1px;
        background: var(--tp-white);
        opacity: .15;
    }

    &-social {
        & i {
            font-size: 24px;
            color: var(--tp-white);
            opacity: .5;
            margin-right: 15px;
        }

    }

    &-widget {
        position: relative;
        z-index: 2;

        &__title {
            color: var(--tp-white);
            font-size: 20px;
            z-index: 9;
            position: relative
        }

        & span {
            font-size: 17px;
            color: #b1b4ba;
            z-index: 9;
            position: relative
        }

        & ul {
            & li {
                margin-bottom: 8px;

                & a {
                    font-size: 17px;
                    color: var(--tp-hero-small);
                }
            }
        }


    }

    &-contact {


        & span {
            font-size: 17px;
            color: var(--tp-hero-small);
            display: inline-block;
        }

        &__title {
            font-size: 30px;
            color: var(--tp-white);

            @media #{$lg} {
                font-size: 23px;
            }
        }


    }

    &-copyright {

        &-area {
            border-top: 1px solid rgba(255, 255, 255, 0.15);
        }

        &-text {
            position: relative;
            z-index: 2;

            & p {
                & a {
                    color: var(--tp-yellow);
                }

            }

            @media #{$md} {
                text-align: center;
            }

            @media #{$xs} {
                text-align: left;
            }
        }

        &-nav {
            @media #{$md} {
                padding-top: 10px;
            }

            & ul {
                @include flexbox();
                justify-content: end;

                @media #{$xs} {
                    justify-content: start;
                }

                @media #{$md} {
                    justify-content: center;
                }

                & li {
                    margin-left: 65px;

                    @media #{$md} {
                        margin-left: 35px;
                    }

                    @media #{$xs} {
                        margin-left: 15px;
                    }

                    position: relative;

                    &::before {
                        content: "";
                        width: 2px;
                        height: 12px;
                        background-color: var(--tp-hero-small);
                        position: absolute;
                        top: 8px;
                        left: -30px;

                        @media #{md} {
                            left: -18px;
                        }

                        @media #{$xs} {
                            left: -9px;
                        }
                    }

                    &:first-child {
                        margin-left: 0;

                        &::before {
                            display: none;

                        }
                    }

                    & a {
                        font-size: 15px;
                        color: var(--tp-hero-small);

                    }
                }
            }
        }

    }


}

.col-border {
    &-3 {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background: var(--tp-white);
            top: 0;
            left: -72px;
            opacity: .15;

            @media #{$lg} {
                left: -28px;
            }

            @media #{$md} {
                display: none;

            }

            @media #{$xs} {
                display: none;

            }
        }
    }



    &-3 {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background: var(--tp-white);
            top: 0;
            right: 80px;
            opacity: .15;

            @media #{$lg} {
                right: 72px;
            }

            @media #{$md} {
                display: none;

            }

            @media #{$xs} {
                display: none;

            }
        }
    }



}