@use"../utils" as *;

/*----------------
     Buttons css
------------------ */
.tp-btn {
    background: var(--tp-theme-color);
    padding: 19px 45px;
    border-radius: 5px;
    font-size: 18px;
    color: var(--tp-white);
    font-family: var(--tp-fonts-heading);
    overflow: hidden;
    position: relative;
    display: inline-block;

    &>i {
        width: 22px;
        height: 100%;
        background: var(--tp-theme-color-slide);
        position: absolute;
        bottom: -3px;
        right: -12px;
        @include transform(rotate(13deg));

        @include transition(.3s);

    }

    &-sec {
        background: var(--tp-yellow);
        padding: 19px 45px;
        border-radius: 5px;
        font-size: 18px;
        color: var(--tp-theme-sec-color);
        font-family: var(--tp-fonts-heading);
        overflow: hidden;
        display: inline-block;
        position: relative;

        & i {
            width: 22px;
            height: 100%;
            background: var(--tp-yellow-slide);
            position: absolute;
            bottom: -3px;
            right: -12px;
            @include transform(rotate(13deg));
            @include transition(.3s);

        }



        &-lg {
            padding: 22px 46px;

        }

        &:hover {
            & i {
                right: -30px;
            }

            & .tp-btn-y-1 {
                @include transform(translateY(-100%));

                display: inline-block;
                visibility: hidden;
            }

            & .tp-btn-y-2 {
                @include transform(translateY(0));
                visibility: visible;
                @include transition(.1s);
            }
        }

    }

    &:hover {
        color: var(--tp-white);

        & i {
            right: -30px;
        }

        & .tp-btn-y-1 {
            @include transform(translateY(-100%));

            display: inline-block;
            visibility: hidden;
        }

        & .tp-btn-y-2 {
            @include transform(translateY(0));
            visibility: visible;
            @include transition(.1s);
        }
    }

    &-y-2 {
        position: absolute;
        left: 46px;
        @include transform(translateY(100%));

        visibility: hidden;

        &-left {
            left: 31px;
        }
    }


    &-circle {
        font-family: var(--tp-fonts-heading);
        border: 2px solid rgb(217, 217, 217);
        font-size: 60px;
        text-align: center;
        color: var(--tp-white);
        opacity: .3;
        padding: 44px 84px;
        border-radius: 100%;
        @include transition(.3s);

        &:hover {
            background-color: var(--tp-theme-color);
            opacity: 1;
            color: var(--tp-white);
        }

        @media #{$xs} {
            font-size: 55px;
            padding: 20px 30px;
        }
    }

    &-2 {
        background-color: var(--tp-orange);

        & i {
            background-color: #FFAD8A;
        }
    }

    &-200 {
        padding: 19px 31px;
        background-color: var(--tp-orange-3);

        & {

            & span {
                & i {
                    @include transform(rotate(-30deg));

                    margin-left: 10px;
                }
            }
        }
    }
}

.tp-text-btn {
    font-size: 18px;
    font-family: var(--tp-fonts-heading);
    color: var(--tp-common-black);
}