@use"../utils" as *;

.tp-offcanvas {
    width: 500px;
    height: 100%;
    position: fixed;
    right: -200px;
    z-index: 99;
    background: #ffffff;
    padding: 80px 40px;
    opacity: 0;
    visibility: hidden;
    @include transition(.45s);

    @media only screen and (max-width: 500px) {
        width: 100%;
        padding: 80px 17px;
    }

    &-open {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    overflow-y: scroll;
    scrollbar-width: none;

}

.tp-offcanvas-close {
    & i {
        font-size: 40px;
        cursor: pointer;
    }
}

.tp-offcanvas-content {
    & p {
        font-size: 18px;
        color: #222;
    }
}

.tp-offcanvas-title {
    font-size: 40px;
    font-weight: 700;
}

.tp-offcanvas-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.tp-offcanvas-info-title {
    font-size: 30px;
    text-transform: capitalize;
}

.tp-offcanvas-info {
    a {
        display: block;
        color: #222;
    }
}

.tp-offcanvas-social {
    & i {
        font-size: 20px;
        margin-right: 10px;
    }
}

.tp-offcanvas-social-title {
    font-size: 30px;
    text-transform: capitalize;
}

.tp-all-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, .4);
    opacity: 0;
    visibility: hidden;
    z-index: 98;

    &-open {
        opacity: 1;
        visibility: visible;
    }
}