@use"../utils" as *;

.tp-section {
    &-subtitle {
        font-family: var(--tp-fonts-body);
        font-weight: 500;
        font-size: 15px;
        line-height: 1.67;
        text-transform: uppercase;
        color: var(--tp-theme-body);

        & span {
            width: 10px;
            height: 10px;
            background-color: var(--tp-theme-color);
            border-radius: 30px;
            display: inline-block;
            margin-right: 8px;
        }

        &-2 {
            & span {
                background-color: var(--tp-orange);
            }
        }

        &-3 {
            color: #a3aec3;
        }

        &-4 {
            color: var(--tp-white);
        }
    }

    &-title {
        font-size: 60px;

        & br {

            @media #{$xl} {
                display: none;
            }
        }

        &-4 {
            @media #{$xs} {
                font-size: 30px;

            }
        }

        &-size {
            @media #{$xs} {
                font-size: 20px;
            }
        }

        &-space {
            @media #{$lg,$md,$xs} {
                margin-left: 0;
            }

            &-wrapper {
                & p {
                    & br {
                        @media #{$xs} {
                            display: none;
                        }
                    }
                }
            }

            font-size: 60px;


            @media #{$lg} {
                font-size: 50px;
            }

            @media #{$md} {
                font-size: 38px;
            }

            @media #{$xs} {
                font-size: 40px;
            }


            &-white {
                color: var(--tp-white);
            }

            &-3 {
                color: var(--tp-white);
            }

            &-40 {
                font-size: 40px;

            }


        }

        &-40 {
            font-size: 40px;

            @media #{$lg} {
                font-size: 35px;
            }

            @media #{$md} {
                font-size: 25px;

                & br {
                    display: none;
                }
            }

            @media #{$xs} {
                font-size: 20px;

                & br {
                    display: none;
                }
            }
        }

        &-37 {
            @media #{$xl} {
                font-size: 37px;
            }

            @media #{$xs} {
                font-size: 28px;
            }

        }

        &-49 {
            @media #{$lg} {
                font-size: 49px;
            }

            @media #{$xs} {
                font-size: 37px;
                margin-bottom: 30px;
            }

        }

        &-54 {
            @media #{$md} {
                font-size: 54px;
            }

            @media #{$xs} {
                font-size: 34px;
            }
        }

        &-29 {
            @media #{$xs} {
                font-size: 29px;
            }
        }

        &-30 {
            font-size: 30px;
        }
    }
}