@use"../utils" as *;

.tp-section-title {
    &-wrapper {
        & p {
            & br {

                @media #{$xs} {
                    display: none;
                }
            }
        }
    }

    font-size: 60px;

    @media #{$lg} {
        font-size: 50px;
    }

    @media #{$md} {
        font-size: 38px;
    }

    @media #{$xs} {
        font-size: 40px;
    }


    &-white {
        color: var(--tp-white);
    }
}