@use"../utils" as *;

/*----------------
    Common 
------------------ */

.w-img {
	& img {
		width: 100%;
	}
}

.m-img {
	& img {
		max-width: 100%;
	}
}

img {
	max-width: 100%;
}

.fix {
	overflow: hidden
}

.clear {
	clear: both;
}

.z-index-1 {
	z-index: 1;
}

.z-index-11 {
	z-index: 11;
}

.overflow-y-visible {
	overflow-x: hidden;
	overflow-y: visible;
}

.overflow-x-visible {
	overflow-x: visible;
	overflow-y: hidden;
}

.h {
	overflow-x: hidden;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.br {
	&-20 {
		border-radius: 20px;

		& img {
			border-radius: 20px;
		}

	}

	&-15 {
		& img {
			border-radius: 15px;
		}
	}

	&-10 {
		& img {
			border-radius: 10px;
		}
	}

	&-5 {
		& img {
			border-radius: 20px;
		}
	}

	&-140 {
		border-radius: 140px;
	}

	&-150 {
		border-radius: 150px;
	}
}

.service-br-20 {
	border-radius: 20px;
}


.tp-black-bg {
	background-color: var(--tp-common-black);
}

.tp-yellow-bg {
	background-color: var(--tp-yellow);
}

.tp-blue-bg {
	background-color: var(--tp-theme-color);
}

.tp-nblue-bg {
	background-color: var(--tp-neblue);
}

.tp-theme-black-bg {
	background-color: var(--tp-theme-sec-color);
}

.tp-spring-bg {
	background-color: var(--tp-spring);
}

.tp-theme-bg {
	background-color: var(--tp-theme-blue);
}

.tp-milk-bg {
	background-color: var(--tp-rose-white);
}

.tp-rose-bg {
	background-color: var(--tp-milk-punch);
}

.tp-black {
	color: var(--tp-theme-sec-color);
}


.tp-white {
	color: var(--tp-white);
}


.tp-iceberg-bg {
	background-color: #D6F0FF;
}

.tp-slide-transition {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.tp-brand-slide-element {
	width: auto;
	display: inline-block;
}

.tp-rotate-180 {
	transform: rotate(180deg);
}

.tp-upper {
	text-transform: uppercase;
}

.tp-cap {
	text-transform: capitalize;
}

.mr-l-r-100 {
	margin: 0 100px;

	@media #{$xs} {
		margin: 0;
	}
}

.tp-solid-img-bg {
	&.jarallax {
		height: 800px;

		@media #{$lg} {
			height: 600px;
		}

		@media #{$md} {
			height: 400px;
		}

		@media #{$xs} {
			height: 400px;
		}
	}
}