@use '../utils' as *;

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 150 {
    .mt-#{1 * $i} {
        margin-top: 1px * $i;
    }
}

/*-- Margin Bottom --*/
@for $i from 1 through 150 {
    .mb-#{1 * $i} {
        margin-bottom: 1px *$i;
    }
}

/*-- Margin Left --*/
@for $i from 1 through 150 {
    .ml-#{1 * $i} {
        margin-left: 1px * $i;
    }
}

/*-- Margin Right --*/
@for $i from 1 through 150 {
    .mr-#{1 * $i} {
        margin-right: 1px *$i;
    }
}

/*-- Padding Top --*/
@for $i from 1 through 150 {
    .pt-#{1 * $i} {
        padding-top: 1px *$i;
    }
}

/*-- Padding Bottom --*/
@for $i from 1 through 150 {
    .pb-#{1 * $i} {
        padding-bottom: 1px *$i;
    }
}

/*-- Padding Left --*/
@for $i from 1 through 150 {
    .pl-#{1 * $i} {
        padding-left: 1px *$i;
    }
}

/*-- Padding Right --*/
@for $i from 1 through 150 {
    .pr-#{1 * $i} {
        padding-right: 1px *$i;
    }
}

.pt-308 {
    padding-top: 308px;
}

.pt-290 {
    padding-top: 290px;
}

.pt-270 {
    padding-top: 270px;
}

.pt-269 {
    padding-top: 269px;
}

.pt-224 {
    padding-top: 224px;
}

.pb-183 {
    padding-bottom: 183px;
}

.pb-180 {
    padding-bottom: 180px;
}

.pb-308 {
    padding-bottom: 308px;
}

.pb-155 {
    padding-bottom: 155px;
}

.ml-219 {
    margin-left: 219px;
}