@use"../../utils" as *;

.tp-about {



    &-area {
        background-size: cover;
        background-position: center;

        @media #{$xs} {
            padding-top: 70px;
            padding-bottom: 130px;
        }
    }

    &-box {
        @media #{$xl} {
            padding-left: 25px;
        }

        @media #{$lg} {
            padding-left: 14px;
        }

        @media #{$md,$xs} {
            padding-left: 0;
        }

        & p {
            @media #{$xl} {
                font-size: 15px;
            }

            @media #{$lg} {
                font-size: 13px;
            }

            & br {
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }

    &-img {
        @media #{$md} {
            padding-left: 0;
        }

        @media #{$xs} {
            margin-bottom: 44px;
        }

        @media #{$xs} {
            padding-left: 0;
        }

        & img {
            border-radius: 20px;
        }
    }

    &-video {
        @media #{$xl} {
            padding-left: 27px;
        }

        @media #{$lg} {
            padding-left: 12px;
        }

        @media #{$md,$xs} {
            padding-left: 0;
        }

        &-icon {
            width: 80px;
            height: 80px;
            border: 1px solid var(--tp-theme-body);
            border-radius: 50%;
            text-align: center;
            line-height: 75px;
        }

        &-info {
            display: flex;
            column-gap: 17px;
            align-items: center;
        }

        &-title {
            color: var(--tp-theme-body);
            font-size: 30px;
            margin: 0;
        }
    }


}

.tp-about-shape-1 {
    top: 17%;
    left: 10px;
}

.tp-about-shape-2 {
    top: -4%;
    right: 0%;
}

.tp-about-shape-3 {
    top: 41%;
    left: 36%;
}