@use"../../utils" as *;

.tp-about {
    &-area {
        background-size: cover;
        background-position: center;

        @media #{$xs} {
            padding-top: 70px;
            padding-bottom: 130px;
        }
    }

    &-box {
        @media #{$xl} {
            padding-left: 25px;
        }

        @media #{$lg} {
            padding-left: 14px;
        }

        @media #{$md,$xs} {
            padding-left: 0;
        }

        @media #{$md,$xs} {
            margin-bottom: 28px;
        }

        & p {
            @media #{$xl} {
                font-size: 15px;
            }

            @media #{$lg} {
                font-size: 13px;
            }

            & br {
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }

    &-img {
        @media #{$md} {
            padding-left: 0;
        }

        @media #{$xs} {
            margin-bottom: 44px;
        }

        @media #{$xs} {
            padding-left: 0;
        }

        & img {
            border-radius: 20px;
        }

        &-2 {
            position: absolute;
            left: -185px;
            top: 0;
            z-index: 2;
        }

        & img {
            // max-width: inherit;

        }
    }

    &-video {
        @media #{$xl} {
            padding-left: 27px;
        }

        @media #{$lg} {
            padding-left: 12px;
        }

        @media #{$md,$xs} {
            padding-left: 0;
        }

        &-icon {
            width: 80px;
            height: 80px;
            border: 1px solid var(--tp-theme-body);
            border-radius: 50%;
            text-align: center;
            line-height: 75px;
        }

        &-info {
            @include flexbox();
            column-gap: 17px;
            align-items: center;
        }

        &-title {
            color: var(--tp-theme-body);
            font-size: 30px;
            margin: 0;
        }
    }

    &-shape-1 {
        top: 17%;
        left: 10px;
    }

    &-shape-2 {
        top: -4%;
        right: 0%;
    }

    &-shape-3 {
        top: 41%;
        left: 36%;
    }

    &-desc {
        & p {
            font-size: 17px;
            line-height: 1.65;
            color: var(--tp-theme-body);
            margin-bottom: 30px;
        }

        & ul {
            & li {
                font-family: var(--tp-fonts-heading);
                font-size: 30px;
                line-height: 133%;
                color: var(--tp-common-black);
                @include flexbox();

                & i {
                    font-size: 30px;
                    margin-bottom: 30px;
                    margin-top: 5px;
                }
            }
        }
    }

    &-4 {
        &-thumb {
            text-align: center;

            @media #{$md,$xs} {
                margin-bottom: 40px;
            }
        }
    }

    &-5 {
        &-right {
            background-color: white;
            right: 0;
            top: 0;
        }
    }

}

.tp-abput-radius {
    border-radius: 357px;
    margin-left: 100px;

    @media #{$xl} {
        margin-left: 50px;
        margin-right: 50px;
    }

    @media #{$lg,$md,$xs} {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.tp-founder {
    &-author {
        & .tp-founder-title {
            font-size: 30px;
        }

        & span {
            font-size: 17px;
            color: var(--tp-theme-body);
        }
    }
}

.tp-founder-sep {
    width: 1px;
    height: 40px;
    background: red;
    margin: 10px auto;
}