@use"../../utils" as *;

.tpblog {

    &__thumb {
        & img {
            border-radius: 20px;
            width: 100%;
        }
    }

    &__content {
        padding-left: 10px;
    }

    &__meta {
        & span {
            font-size: 17px;
            color: var(--tp-theme-body);

            & i {
                font-size: 20px;
                color: var(--tp-theme-body);
                margin-right: 10px;
            }
        }

        & cite {

            width: 2px;
            height: 16px;
            background: var(--tp-theme-body);
            display: inline-block;
            margin: 0 15px;

        }
    }

    &__title {
        font-size: 30px;
        line-height: 1.5;
    }

    &__btn {
        display: flex;
        align-items: center;

        & i {
            transform: rotate(-45deg);
        }
    }

    &-2 {
        border: 1px solid var(--tp-theme-body);
        border-radius: 15px;

        & .tpblog__thumb {
            height: 100%;
            left: 0;
            top: 0;
            transform: translateY(-12px);
            margin-left: -2px;
        }

        & img {
            border-radius: 15px;
            height: calc(100% + 24px);
            object-fit: cover;
        }

        & .tpblog__content {
            padding-left: 228px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}