@use"../../utils" as *;

.tpform {
    &-title {
        font-size: 30px;
    }

    &-box {
        @media #{$md,$xs} {
            margin-top: 50px;
        }

        & input,
        & textarea {
            color: #57595c;
            font-size: 15px;
            padding: 40px 0;
        }
    }

    &-4 {

        & input,
        & textarea {
            border: 1px solid var(--tp-theme-body);

            padding: 0 25px;
            margin-bottom: 30px;
            border-radius: 10px;
            font-weight: 500;

        }

        & textarea {
            padding: 25px 25px;
            height: 160px;
        }

        & .p-relative {
            & i {
                position: absolute;
                top: 20px;
                right: 25px;

            }
        }
    }
}

.fs-100 {
    font-size: 100px;

    @media #{$xl} {
        font-size: 85px;
    }

    @media #{$xs} {
        font-size: 65px;
    }
}

.tp-contact-thumb {
    margin-left: -40px;
}

.tp-contact-wrapper {
    padding: 50px 49px 26px 49px;
    border: 1px solid var(--tp-theme-body);
    border-radius: 10px;
}

.tp-contact__icon span {
    font-size: 83px;
    color: #000;

}

.tp-contact__text span {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: inline-block;
    color: var(--tp-theme-body);
}

.tp-contact__text {
    & p {
        & a {
            font-size: 30px;
            font-family: var(--tp-fonts-heading);
            line-height: 1.33em;
            color: var(--tp-theme-sec-color);
        }
    }
}