@use"../../utils" as *;

/*----------------
    CTA css
------------------ */
.tp-cta {
    &-area {
        background-position: center;
        background-size: cover;
    }

    &-overlay {
        &::before {
            background: linear-gradient(0deg, rgba(0, 23, 67, 0.80) 0%, rgba(0, 23, 67, 0.80) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: .8;
            z-index: 1;
        }
    }
}