@use"../../utils" as *;

.tp-faq-2 {
    &-area {}

    &-left {
        @media #{$md,$xs} {
            text-align: center;
            margin-bottom: 40px;
        }

        &__duck {
            & img {
                position: relative;
                z-index: 2;
            }
        }

        &__back {
            width: 615px;
            height: 597px;
            background-color: var(--tp-yellow-bg);
            border-radius: 100%;
            z-index: 1;
            top: 164px;
            left: -72px;

            @media #{$lg} {
                width: 557px;
                height: 568px;
                left: -39px;
            }

            @media #{$md} {
                left: 29px;
            }

            @media #{$xs} {
                width: 40%;
                height: 40%;
            }
        }

        & .star-1 {
            top: 133px;
            left: -90px;

            @media #{$md} {
                left: -14px;
            }

        }

        & .star-2 {
            top: 0;
            right: 276px;

            @media #{$md} {
                right: 125px;
            }

            @media #{$lg} {
                right: 88px;

            }
        }

    }
}