@use"../../utils" as *;

/*----------------
    Newsletr css 
------------------ */
.tp-newsletter {


    &-box {
        & form {
            @include flexbox();
            justify-content: space-between;
            align-items: center;

            @media #{$xs} {
                display: block;
            }

            & button {
                @media #{$xs} {
                    margin-top: 30px;
                }
            }
        }

        & input {
            border-color: var(--tp-white);

            @include tp-placeholder {
                color: var(--tp-white);
            }

            &:focus {
                border-color: var(--tp-white);

                &::placeholder {
                    opacity: 0;
                }
            }
        }


    }

    &-input {
        width: calc(100% - 215px);

        @media #{$xs} {
            width: 100%;
        }

        & img {
            position: absolute;
            top: 36%;
            right: 11px;
        }
    }

    &-back {
        font-size: 100px;
        color: #fff;
        opacity: .1;
        margin-bottom: 0;
        position: absolute;
        left: 91px;
        top: -12px;

        @media #{$xl} {
            font-size: 80px;
            top: -3px;
            left: 30px;
        }

        @media #{$md} {
            font-size: 70px;
            left: 68px;
            top: 16px;
        }
    }

    &-margin {
        margin-top: -113px;

    }

    &-bg {
        padding: 80px;
        border-radius: 20px;

        @media #{$md,$xs} {
            padding: 80px 25px;
        }

        &-2 {
            padding: 80px 0px;

            & .tp-section-title {
                color: var(--tp-theme-sec-color);
            }

            & input {
                border-color: var(--tp-black);

                @include tp-placeholder {
                    color: var(--tp-black);
                }

                &:focus {
                    border-color: var(--tp-black);

                    &::placeholder {
                        opacity: 0;
                    }
                }
            }

            & .tp-newsletter-back {
                color: black;
            }
        }
    }
}

.tp-section-title-wrapper {
    @media #{$lg} {
        margin-bottom: 30px;
    }
}