@use"../../utils" as *;

.tp-portfolio {
    &-area {
        @media #{$xs} {
            padding-bottom: 100px;
            padding-top: 70px;
        }
    }

    &-tab {
        &-item {
            @media #{$md,$xs} {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

            }

        }

        & button {
            font-family: var(--tp-fonts-heading);
            font-size: 100px;
            line-height: 1.2;
            color: var(--tp-white);
            border-bottom: 1px solid var(--tp-rain);
            padding: 12px 0;
            padding-left: 100px;
            padding-right: 22px;
            transition: .3s;

            @media #{$xxlm} {
                font-size: 65px;
            }

            @media #{$xl} {
                font-size: 65px;
                padding-left: 96px;
            }

            @media #{$lg} {
                font-size: 50px;
                padding-left: 50px;
            }

            @media #{$md,$xs} {
                padding-left: 13px;
                padding-right: 8px;
                font-size: 25px;

            }

            &:hover {
                color: var(--tp-white);
            }

            &.active {
                color: var(--tp-yellow);
                border-bottom: 1px solid var(--tp-yellow);
            }

        }
    }

    &-content {
        text-align: end;

        @media #{$md} {
            padding-right: 34px;
            padding-left: 55px;

        }

        @media #{$xs} {
            padding-right: 27px;

        }
    }

    &-thumb {
        & img {
            border-radius: 20px;

        }
    }

    &-2 {
        &:hover {
            & .tp-portfolio-2-text {
                display: block;
            }
        }

        &-img {


            & img {
                border-radius: 20px;
            }
        }


        &-text {
            display: none;

            & span {
                font-weight: 500;
                font-size: 15px;
                color: var(--tp-theme-sec-color);
                text-transform: uppercase;
                background-color: var(--tp-white);
                padding: 10px 21px;
                bottom: 181px;
                left: 126px;
                position: absolute;

            }

            &-title {
                position: absolute;
                bottom: 80px;
                left: 126px;
                font-size: 30px;
                color: var(--tp-theme-sec-color);
                background-color: var(--tp-white);
                padding: 22px 21px;

            }
        }


    }
}