@use"../../utils" as *;

/*----------------
 Portfolio css
------------------ */
.tp-portfolio {
    &-area {
        @media #{$xs} {
            padding-bottom: 100px;
            padding-top: 70px;
        }
    }

    &-tab {
        &-item {
            @media #{$md,$xs} {
                @include flexbox();
                flex-wrap: wrap;
                justify-content: center;

            }

        }

        & button {
            font-family: var(--tp-fonts-heading);
            font-size: 100px;
            line-height: 1.2;
            color: var(--tp-white);
            border-bottom: 1px solid var(--tp-rain);
            padding: 12px 0;
            padding-left: 100px;
            padding-right: 22px;
            @include transition(.3s);

            @media #{$xxlm} {
                font-size: 65px;
            }

            @media #{$xl} {
                font-size: 65px;
                padding-left: 96px;
            }

            @media #{$lg} {
                font-size: 50px;
                padding-left: 50px;
            }

            @media #{$md,$xs} {
                padding-left: 13px;
                padding-right: 8px;
                font-size: 25px;

            }

            &:hover {
                color: var(--tp-white);
            }

            &.active {
                color: var(--tp-yellow);
                border-bottom: 1px solid var(--tp-yellow);
            }

        }
    }

    &-content {
        text-align: end;

        @media #{$md} {
            padding-right: 34px;
            padding-left: 55px;

        }

        @media #{$xs} {
            padding-right: 27px;

        }
    }

    &-thumb {
        & img {
            border-radius: 20px;

        }
    }

    &-2 {
        &:hover {
            & .tp-portfolio-2-text {
                display: block;
            }
        }

        &-img {


            & img {
                border-radius: 20px;

                @media #{$md,$xs} {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }


        &-text {
            display: none;

            & span {
                font-weight: 500;
                font-size: 15px;
                color: var(--tp-theme-sec-color);
                text-transform: uppercase;
                background-color: var(--tp-white);
                padding: 10px 21px;
                bottom: 181px;
                left: 126px;
                position: absolute;

                @media #{$lg} {
                    left: 50px;
                }

                @media #{$xs} {
                    left: 30px;
                }

            }



            &-title {
                position: absolute;
                bottom: 80px;
                left: 126px;
                font-size: 30px;
                color: var(--tp-theme-sec-color);
                background-color: var(--tp-white);
                padding: 22px 21px;

                @media #{$lg} {
                    left: 50px;
                }

                @media #{$xs} {
                    left: 30px;
                }

            }
        }


    }

    &-3 {
        @media #{$md,$xs} {
            padding-left: 2px;
            margin-bottom: 30px;
        }

        &-box {
            @media #{$lg} {
                padding-left: 16px;
            }
        }

        &-img {
            @media #{$xl,$lg} {
                margin-bottom: 30px;
            }

            & img {
                border-radius: 15px;
            }
        }

        & p {
            font-size: 17px;
            color: #a3aec3;
        }

        & h4 {
            font-size: 30px;
            color: #a3aec3;

            & span {
                width: 60px;
                height: 1px;
                background: #a3aec3;
                display: inline-block;
                @include transform(translateY(-8px));

                margin-right: 14px;
            }
        }

        &-subtitle-1 {
            background-color: var(--tp-span-bg);
            padding: 3px 15px;
            border-radius: 15px;
            display: inline-block
        }

        &-subtitle-2 {
            background-color: #D6F0FF;
            padding: 3px 15px;
            border-radius: 15px;
            display: inline-block
        }

        &-subtitle-3 {
            background-color: #FFE4FB;
            padding: 3px 15px;
            border-radius: 15px;
            display: inline-block
        }

        &-title {
            font-size: 40px;
            text-transform: uppercase;
            color: var(--tp-white);

            &-black {
                color: var(--tp-theme-sec-color);
                font-size: 30px;
            }

            @media #{$xl} {
                font-size: 37px;
            }

            @media #{$lg} {
                font-size: 34px;
            }

            @media #{$xs} {
                font-size: 24px;
            }
        }

        &-link {
            font-size: 18px;
            color: #a3aec3;

            & i {
                @include transform(rotate(-30deg));

                margin-left: 12px;
            }
        }
    }

    &-4 {


        &-logo {
            border: 1px solid var(--tp-theme-body);
            padding: 103px 0;
            margin-right: -1px;

            @media #{$lg} {
                padding: 75px 0;
            }

            @media #{$md,$xs} {
                margin-bottom: -1px;
                margin-right: 0;
                padding: 48px 0;
            }

            & img {}
        }

        &-text {
            & span {
                font-weight: 500;
                font-size: 15px;
                text-transform: uppercase;
                color: var(--tp-theme-sec-color);
                padding: 4px 17px;
                border-radius: 15px;
            }

            &-heading {
                font-weight: 400;
                font-size: 39px;

                @media #{$lg} {
                    font-size: 33px;
                }

                @media #{$xs} {
                    font-size: 21px;
                }
            }
        }

        &-show {

            & img {
                @media #{$md,$xs} {
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }

        &-wrapper {
            border: 1px solid var(--tp-theme-body);
            padding: 30px;
            margin-bottom: -1px;

            @media #{$lg} {
                padding: 26px;
            }
        }
    }

    &-arrow {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;


        & a {
            width: 135px;
            height: 75px;
            display: inline-block;
            background-color: var(--tp-yellow);
            line-height: 92px;
            border-radius: 100%;
            transform: translateY(-50%) scale(.7);
            transition: .4s;

            & i {
                font-size: 52px;
            }
        }
    }

    &-img {
        &:before {
            content: "";
            position: absolute;
            background: var(--tp-theme-color);
            width: 100%;
            height: 100%;
            border-radius: 15px;
            opacity: 0;
            visibility: hidden;
            transition: .4s;
        }

        @media #{$md,$sm,$xs} {
            & img {
                width: 100%;
            }
        }


    }

    &-item:hover {
        & .tp-portfolio-img {
            &:before {
                opacity: .7;
                visibility: visible;
            }
        }

        & .tp-portfolio-arrow {
            opacity: 1;
            visibility: visible;

            & a {
                transform: translateY(-50%) scale(1);
            }
        }

    }

    &-text {
        text-align: center;

        &-title {
            font-size: 30px;
        }

        & span {
            position: relative;
            display: inline-block;
            padding-left: 134px;

            &:before {
                content: "";
                position: absolute;
                width: 52px;
                height: 1px;
                background-color: var(--tp-theme-body);
                top: 13px;
                left: 71px;
            }
        }
    }

    &-tab-list {
        @media #{$xs} {
            margin-bottom: 100px;
        }

        & button {
            font-size: 15px;
            position: relative;
            padding: 0 20px;
            text-transform: uppercase;
            color: var(--tp-theme-body);
            font-weight: 500;

            &.active {
                color: var(--tp-theme-sec-color);
            }

            &:after {
                content: "|";
                position: absolute;
                right: 0;
                top: 0;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
}

.tpportfolio {
    padding: 20px;

    &__thumb {
        & img {}
    }

    &__content {
        margin: 0 30px;

        &--meta {
            & span {
                font-weight: 500;
                font-size: 15px;
                text-transform: uppercase;
                color: var(--tp-theme-body);
                margin-bottom: 7px;
                display: inline-block;
            }
        }

        &--title {
            font-size: 30px;

            text-transform: capitalize;
            color: var(--tp-theme-sec-color);
        }

        &--icon {
            width: 60px;
            height: 60px;
            background-color: var(--tp-orange);
            color: var(--tp-white);
            text-align: center;
            line-height: 62px;
            border-radius: 50%;

            & i {
                @include transform(rotate(-30deg));

            }
        }
    }
}

.ml-m-107 {
    margin-left: -107px;
}

.tp-team-slider-active-margin {
    margin: 0 -100px;

    @media #{$lg,$md,$xs} {
        margin: 0;
    }
}

.tp-video-area {
    @media #{$lg} {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media #{$md,$xs} {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.tp-portfolio {
    &-details {
        padding: 40px;
        border-radius: 10px;

        & ul {
            & li {
                padding: 21.4px 30px;
                border: 1px solid var(--tp-theme-body);
                margin-bottom: 15px;
                border-radius: 5px;

                & span {
                    margin-bottom: 9px;
                    display: inline-block;
                    font-size: 15px;
                    font-weight: 500;
                    color: var(--tp-theme-body);
                }

                &-title {
                    font-size: 20px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

        }

        &-info {
            & ul {
                & li {
                    font-size: 17px;
                    font-weight: 500;
                    color: var(--tp-theme-body);
                    margin-bottom: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:before {
                        content: "\f178";
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 900;
                        transform: rotate(-40deg);
                        display: inline-block;
                        margin-right: 9px;
                    }
                }
            }
        }
    }


}