@use"../../utils" as *;

.tpprocess {
    padding: 64px 35px;

    &-border {
        border: 1px solid var(--tp-theme-body);
        border-radius: 215px;
    }

    & span {
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        background-color: var(--tp-orange);
        border-radius: 15px;
        padding: 5px 23px;
        margin-bottom: 35px;
        display: inline-block;
    }

    &__title {

        font-size: 30px;

        text-transform: capitalize;

        color: var(--tp-theme-sec-color);
    }

    & p {
        font-size: 17px;
        color: #57595c;
        text-align: center;
    }

    &__icon {

        & i {
            width: 150px;
            height: 150px;
            border-radius: 75px;
            display: inline-block;
            font-size: 62px;
            line-height: 2.5;
        }

        & .first {

            background-color: #ffe9c9;

        }

        & .second {

            background-color: #d6f0ff;

        }

        & .third {

            background-color: #ffe4fb;

        }

        & .four {

            background-color: #e2ead7;


        }

    }

    &:hover {
        & span {
            background-color: var(--tp-theme-color);
        }
    }

    &-2 {
        &__icon {
            & span {
                width: 260px;
                height: 260px;
                border-radius: 100%;
                text-align: center;
                display: inline-block;
                background-color: #FFE9C9;
                line-height: 203px;
                margin-left: 36px;

                & i {
                    font-size: 100px;

                }
            }

            &--width {
                & span {
                    width: 250px;
                    height: 250px;
                    line-height: 322px;
                }
            }
        }

        &__count {

            background-color: var(--tp-orange-3);
            font-size: 30px;
            color: var(--tp-white);
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 46px;
            border-radius: 100%;
            border: 8px solid var(--tp-white);
            font-weight: 500;
            font-family: var(--tp-fonts-heading);
            bottom: -22px;
            left: 134px;

            &-2 {
                top: -25px;
                left: 134px;
            }
        }

        &__shape {
            top: -36px;
            left: 0;
        }

        &__shape-2 {
            top: 104px;
            left: -8px;
        }

        &__shape-3 {
            top: -65px;
            left: -8px;
        }

        &__title {
            font-size: 30px;
        }
    }
}