@use"../../utils" as*;

/*----------------
   Services css
------------------ */
.tpservice {
    @media #{$xl} {
        padding: 27px;
    }

    border: 1px solid var(--tp-theme-body);
    padding: 40px;
    margin-right: -1px;
    @include transition(.3s);

    &:hover {
        background-color: var(--tp-spw-color);

        & .tpservice-btn {
            background-color: var(--tp-theme-color);

            & i,
            a {
                color: var(--tp-white);
            }
        }
    }

    &__text {
        @media #{$lg} {
            padding-left: 0;
        }
    }

    &__icon {
        & span {
            font-size: 92px;
            display: inline-flex;
        }
    }

    &__title {
        font-size: 30px;

        @media #{$lg} {
            font-size: 28px;
        }
    }

    &__list {
        & ul {
            & li {
                margin-bottom: 16px;

                &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: var(--tp-theme-body);
                    display: inline-block;
                    border-radius: 50%;
                    @include transform(translateY(-2px));

                    margin-right: 8px;
                }
            }
        }
    }

    &-2 {
        margin-bottom: -1px;

        @media #{$xl} {
            padding: 22px;
        }

        & .shape-bg-1 {
            left: -5px;
            top: 7px;
        }

        &__icon {
            font-size: 45px;
            @include transition(.3s);
        }

        &__thumb {
            & img {
                border-radius: 20px;
            }
        }

        &__title {
            @media #{$md} {
                font-size: 22px;
            }
        }

        &:hover {
            & .tpservice-2__icon {
                & i {
                    color: var(--tp-orange);
                }
            }


        }
    }

    &-3 {
        padding-top: 50px;

        @media #{$xl} {
            padding: 14px;
        }
    }

}





.tpservice-btn {
    background: var(--tp-spw-color);
    @include flexbox();
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    @include transition(.3s);

    & i {
        @include transform(rotate(-45deg));

    }
}

.border-bg {
    border: none;
    background-color: var(--tp-white);
}

.tp-service {
    &-box {
        border-top: 1px solid #514f4f;
        padding: 41px 0 33px 0;

        @media #{$lg} {
            padding: 22px 0 22px 0;
        }
    }

    &-count {
        & span {
            font-size: 15px;
            color: var(--tp-hero-small);
        }

    }

    &-text {
        &-title {
            font-size: 100px;
            color: var(--tp-white);
            line-height: .9;
            @include transition(.3s);

            @media only screen and (min-width: 1600px) and (max-width: 1850px) {
                font-size: 80px;
            }

            @media #{$xxlm} {
                font-size: 37px;
            }

            @media #{$xl} {
                font-size: 40px;
            }

            @media #{$lg} {
                font-size: 28px;
            }

            @media #{$md} {
                font-size: 75px;
            }

            @media #{$xs} {
                font-size: 22px;
            }

            &:hover {
                color: var(--tp-orange-3);
            }
        }

        & span {
            color: #b1b4ba;
        }
    }

    &-thumb {
        & img {
            width: 100%;
        }
    }

    &-details {
        &-items {
            background-color: var(--tp-spw-color);
            border-radius: 10px;
            padding: 20px 0 20px 30px;

            & span {
                width: 50px;
                height: 50px;
                display: inline-block;
                background: var(--tp-theme-color);
                font-size: 24px;
                color: white;
                text-align: center;
                line-height: 2;
                border-radius: 100%;
                margin-right: 20px;
                flex: 0 0 auto;
            }
        }

        &-title {
            font-size: 30px;

            @media #{$xs} {
                font-size: 26px;
            }
        }
    }
}

.tp-service-tab-item {
    & .nav-link:last-child {
        border-bottom: 1px solid #514f4f;
    }
}