@use"../../utils" as*;

.tpservice {
    @media #{$xl} {
        padding: 27px;
    }

    border: 1px solid var(--tp-theme-body);
    padding: 40px;
    margin-right: -1px;
    @include transition(.3s);

    &:hover {
        background-color: var(--tp-spw-color);

        & .tpservice-btn {
            background-color: var(--tp-theme-color);

            & i,
            a {
                color: var(--tp-white);
            }
        }
    }

    &__icon {
        & span {
            font-size: 92px;
            display: inline-flex;
        }
    }

    &__title {
        font-size: 30px;
    }

    &__list {
        & ul {
            & li {
                margin-bottom: 16px;

                &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: var(--tp-theme-body);
                    display: inline-block;
                    border-radius: 50%;
                    @include transform(translateY(-2px));

                    margin-right: 8px;
                }
            }
        }
    }

    &-2 {
        margin-bottom: -1px;

        @media #{$xl} {
            padding: 22px;
        }

        & .shape-bg-1 {
            left: -5px;
            top: 7px;
        }

        &__icon {
            font-size: 45px;
            @include transition(.3s);
        }

        &__thumb {
            & img {
                border-radius: 20px;
            }
        }

        &:hover {
            & .tpservice-2__icon {
                & i {
                    color: var(--tp-orange);
                }
            }


        }
    }

    &-3 {
        padding-top: 50px;
    }

}





.tpservice-btn {
    background: var(--tp-spw-color);
    @include flexbox();
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    @include transition(.3s);

    & i {
        @include transform(rotate(-45deg));

    }
}

.border-bg {
    border: none;
    background-color: var(--tp-white);
}

.tp-service {
    &-box {
        border-top: 1px solid #514f4f;
        padding: 41px 0 33px 0;
    }

    &-count {
        & span {
            font-size: 15px;
            color: var(--tp-hero-small);
        }

    }

    &-text {
        &-title {
            font-size: 100px;
            color: var(--tp-white);
            line-height: .9;
            @include transition(.3s);

            &:hover {
                color: var(--tp-orange-3);
            }
        }

        & span {
            color: #b1b4ba;
        }
    }
}

.tp-service-tab-item {
    & .nav-link:last-child {
        border-bottom: 1px solid #514f4f;
    }
}