@use"../../utils" as*;

/*----------------
    Team css
------------------ */
.tpteam {
    &__thumbe {
        & img {
            border-radius: 15px;
            width: 100%;
        }
    }

    &__info {
        @media #{$xxlm} {
            margin-left: 50px;
        }

        @media #{$xl} {
            margin-left: 15px;
        }

        @media #{$lg,$md} {
            margin-left: 25px;
        }

        @media #{$xs} {
            margin-left: 0px;
        }

        &--title {
            font-size: 30px;

            @media #{$xs} {
                font-size: 25px;
            }

            &:hover {
                color: var(--tp-theme-color);
            }
        }

        & span {
            @media #{$xxlm} {
                margin-left: 50px;
            }

            @media #{$xl} {
                margin-left: 25px;
            }

            @media #{$lg} {
                margin-left: 25px;
            }

            @media #{$xs} {
                margin-left: 8px;
            }

            &::before {
                content: "";
                width: 60px;
                height: 1px;
                display: inline-block;
                background-color: var(--tp-theme-body);

                @include transform(translate(-8px, -4px));
            }
        }
    }

    &__social {
        @media #{$xs} {
            margin-left: 40px;
        }

        & i {
            font-size: 25px;
            margin-right: 19px;

            &:hover {
                color: var(--tp-theme-color);
            }
        }
    }

    &-2 {
        @media #{$md,$xs,$sm} {
            width: 64%;
            margin: 30px auto;

        }

        &:hover {
            & .tpteam-2__social {
                opacity: 1;
                visibility: visible;
                top: 34%;
            }

            & .tpteam-2__info--title {
                color: var(--tp-theme-color);
            }
        }

        &__thumbe {
            border: 1px solid #57595c;
            border-radius: 15px;

            img {
                border-radius: 15px;
                margin-left: 20px;

                @include transform(translate(-9px, 9px));
            }
        }

        &__info {
            text-align: center;

            & span {
                font-size: 17px;
                color: var(--tp-theme-body);

            }

            &--title {
                font-size: 30px;
                color: var(--tp-theme-sec-color);
                margin-top: 10px;

                @media #{$lg,$xs,$md} {
                    font-size: 23px;
                }
            }
        }

        &__social {
            top: 30%;
            left: 26%;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s);

            @media #{$lg,$md,$xs} {
                left: 13%;
            }

            @media #{$xs} {
                left: 10%;
            }

            & i {
                background-color: white;
                border-radius: 25px;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 3;
                margin: 0 3px;
                @include transition(.3s);

                &:hover {
                    background: var(--tp-theme-color);
                    color: var(--tp-white);
                }

            }
        }
    }

    &-3 {
        @media #{$lg} {
            margin-bottom: 80px;
        }

        &__thumbe {

            & img {
                margin: -52px 0px;

                @media #{$md} {
                    margin: -52px 51px;
                }

                @media #{$xl} {
                    margin: -52px 17px;
                }
            }
        }

        &__info {
            &--title {
                &:hover {
                    color: var(--tp-theme-color);
                }
            }
        }
    }

    &-bg {

        width: 308px;
        height: 360px;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 140px 140px 0 0;

        @media #{$xl} {
            width: 279px;
        }

        @media #{$md} {
            width: 308px;
            height: 309px;
        }

    }

    &-border {

        width: 282px;
        height: 360px;
        border: 1px solid #57595c;
        top: -15px;
        left: 0;
        z-index: -1;
        border-radius: 185px 185px 0 0;
        margin-left: 14px;

        @media #{$xl} {
            width: 259px;
        }

        @media #{$md} {
            height: 312px;
        }


    }
}

.tp-team-btn {
    @include flexbox();

    & i {
        font-size: 52px;

        &:hover {
            color: var(--tp-theme-color);
        }
    }

}

.tp-team-nav-wraper {
    & span {
        width: 12px;
        height: 12px;
        background-color: #dbdbdb;
        display: inline-block;
        border-radius: 100%;
        margin: 0 10px;
    }
}

.border-none {
    border: none;
}

.tp-team-details-thumb img {
    border-radius: 10px;
    width: 100%;
}

.tp-team-details {
    &-contact {

        &-media {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 8px 10px;

            & span {
                font-weight: 700;
                font-size: 12px;
                ;
                text-transform: uppercase;
                color: #2f3233;
                position: relative;


                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 4px;
                    width: 2px;
                    height: 83%;
                    background-color: #222;



                }

                &:first-child {
                    &:after {
                        display: none;
                    }
                }

                & i {

                    font-size: 15px;
                    color: var(--tp-theme-color);
                    padding-left: 14px;

                }
            }
        }

        &-social {
            & i {
                border: 1px solid var(--tp-theme-body);
                padding: 14px;
                border-radius: 10px;
                @include transition(.3s);

                &:hover {

                    background-color: var(--tp-theme-color);
                    border-color: var(--tp-theme-color);
                    color: var(--tp-white);
                    cursor: pointer;
                }


            }


        }
    }

    &-content {
        @media #{$xs,$sm} {
            padding-left: 0;
        }

        &-title {
            font-weight: 700;
            font-size: 34px;
            color: var(--tp-theme-sec-color);

            &-sm {
                font-weight: 700;
                font-size: 24px;
                color: var(--tp-theme-sec-color);
                margin-top: 40px;
            }
        }

        &-list {
            & li {

                & span {
                    font-size: 16px;

                    color: var(--tp-theme-sec-color);
                }

                & label {
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--tp-theme-body);
                    width: 180px;

                }
            }
        }

        &-experience {
            & li {
                list-style-type: disc;
                list-style-position: inside;
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

            }
        }
    }

}