@use"../../utils" as*;

.tpteam {
    &__thumbe {
        & img {
            border-radius: 15px;
            width: 100%;
        }
    }

    &__info {
        @media #{$xxlm} {
            margin-left: 50px;
        }

        @media #{$xl} {
            margin-left: 15px;
        }

        @media #{$lg,$md} {
            margin-left: 25px;
        }

        @media #{$xs} {
            margin-left: 0px;
        }

        &--title {
            font-size: 30px;

            @media #{$xs} {
                font-size: 25px;
            }
        }

        & span {
            @media #{$xxlm} {
                margin-left: 50px;
            }

            @media #{$xl} {
                margin-left: 25px;
            }

            @media #{$lg} {
                margin-left: 25px;
            }

            @media #{$xs} {
                margin-left: 8px;
            }

            &::before {
                content: "";
                width: 60px;
                height: 1px;
                display: inline-block;
                background-color: var(--tp-theme-body);

                @include transform(translate(-8px, -4px));
            }
        }
    }

    &__social {
        @media #{$xs} {
            margin-left: 40px;
        }

        & i {
            font-size: 25px;
            margin-right: 19px;
        }
    }

    &-2 {


        &:hover {
            & .tpteam-2__social {
                opacity: 1;
                visibility: visible;
                top: 34%;
            }

            & .tpteam-2__info--title {
                color: var(--tp-theme-color);
            }
        }

        &__thumbe {
            border: 1px solid #57595c;
            border-radius: 15px;

            img {
                border-radius: 15px;
                margin-left: 20px;

                @include transform(translate(-9px, 9px));
            }
        }

        &__info {
            text-align: center;

            & span {
                font-size: 17px;
                color: var(--tp-theme-body);

            }

            &--title {
                font-size: 30px;
                color: var(--tp-theme-sec-color);
                margin-top: 10px;
            }
        }

        &__social {
            top: 30%;
            left: 26%;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s);

            & i {
                background-color: white;
                border-radius: 25px;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 3;
                margin: 0 3px;

            }
        }
    }

    &-3 {

        &__thumbe {

            & img {
                margin: -52px 0px;
            }
        }
    }

    &-bg {

        width: 308px;
        height: 360px;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 140px 140px 0 0;

    }

    &-border {

        width: 282px;
        height: 360px;
        border: 1px solid #57595c;
        top: -15px;
        left: 0;
        z-index: -1;
        border-radius: 185px 185px 0 0;

        margin-left: 14px;


    }
}

.tp-team-btn {
    display: flex;

    & i {
        font-size: 52px;
    }


}

.tp-team-nav-wraper {
    & span {
        width: 12px;
        height: 12px;
        background-color: #dbdbdb;
        display: inline-block;
        border-radius: 100%;
        margin: 0 10px;
    }
}

.border-none {
    border: none;
}