@use"../../utils" as *;

.tp-testimonial {
    &-title {
        font-size: 100px;
        line-height: 1.1;

        @media #{$xl} {
            font-size: 75px;

        }

        @media #{$lg,$md} {
            font-size: 50px;

        }

        @media #{$xs} {
            font-size: 25px;

        }


    }

    &-name {
        font-size: 30px;
    }

    &-position {
        font-size: 17px;
        color: var(--tp-theme-body);

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            display: inline-block;
            background-color: var(--tp-theme-body);
            transform: translate(-8px, -4px);

        }
    }

    &-slider-right {
        top: 30%;
        left: 182px;
        z-index: 1;
        font-size: 52px;

        @media #{$xxlm,$xl,$md,$xs} {
            top: inherit;
            left: 42px;
            bottom: 0;
        }

        @media #{$lg} {
            left: 70px;
        }

        &-2 {
            z-index: 1;
            font-size: 52px;
            bottom: 157px;
            left: 41%;

            & i {
                color: var(--tp-white);
            }
        }

    }

    &-slider-left {
        top: 30%;
        right: 182px;
        z-index: 1;
        font-size: 52px;

        @media #{$xxlm,$xl,$md,$xs} {
            top: inherit;
            bottom: -5px;
            right: inherit;
            left: 110px;
        }

        @media #{$lg} {
            right: 73px;
        }

        &-2 {
            z-index: 1;
            font-size: 52px;
            left: 47%;
            top: 72%;

            & i {
                color: var(--tp-white);
            }
        }
    }

    &-slider-button {
        @media #{$xs} {
            position: static;
            display: inline-block;
            margin-top: 30px;
        }
    }

    &-img-1 {
        top: 42%;
        left: 282px;

        @media #{$xxlm,$xl} {
            left: 42px;

        }

        @media #{$xl} {
            top: 33%;
        }

        @media #{$lg,$md,$xs} {
            display: none;
        }


    }

    &-img-2 {
        right: 282px;
        top: 33%;

        @media #{$xxlm,$xl} {
            right: 35px;

        }

        @media #{$lg,$md,$xs} {
            display: none;
        }


    }

    &-img-3 {
        top: 37%;
        left: 32%;

        @media #{$xxlm,$xl} {
            left: 27%;

        }

        @media #{$xl} {
            left: 23%;

        }

        @media #{$lg} {
            left: 17%;

        }

        @media #{$md} {
            left: 10%;

        }

        @media #{$xs} {
            top: 42%;
            left: 1%;
        }


    }

    &-2 {
        &-text {
            & span {
                display: inline-flex;

                & i {
                    color: var(--tp-yellow);
                    font-size: 40px;
                    transform: scaleX(-1);
                }
            }

            &-title {
                font-size: 60px;
                color: var(--tp-white);


                & i {
                    color: var(--tp-yellow);
                    font-size: 40px;
                }
            }
        }

        &-info {
            &-thumb {
                img {
                    border-radius: 15px;
                }
            }

            &-deg {
                & h4 {
                    font-size: 30px;
                    color: var(--tp-white);
                }

                & span {
                    font-size: 17px;

                    color: var(--tp-white);
                }
            }
        }
    }
}

.tp-testimpnial-circle {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 33px;
    bottom: 178px;
    left: 45%;
}