@use"../../utils" as *;

.tp-testimonial {
    &-title {
        font-size: 100px;
        line-height: 1.1;

        @media #{$xl} {
            font-size: 75px;

        }

        @media #{$lg,$md} {
            font-size: 50px;

        }

        @media #{$xs} {
            font-size: 25px;

        }


    }

    &-name {
        font-size: 30px;
    }

    &-position {
        font-size: 17px;
        color: var(--tp-theme-body);

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            display: inline-block;
            background-color: var(--tp-theme-body);
            @include transform(translate(-8px, -4px));


        }
    }

    &-slider-right {
        top: 30%;
        left: 182px;
        z-index: 1;
        font-size: 52px;

        @media #{$xxlm,$xl,$md,$xs} {
            top: inherit;
            left: 42px;
            bottom: 0;
        }

        @media #{$lg} {
            left: 70px;
        }

        &-2 {
            z-index: 1;
            font-size: 52px;
            bottom: 157px;
            left: 41%;

            & i {
                color: var(--tp-white);
            }

            @media #{$xxlm,$xl} {
                left: 39%;
            }

            @media #{$lg} {
                left: 48%;
            }

            @media #{$md} {
                left: 63%;
            }


        }

        &-3 {
            z-index: 1;
            font-size: 52px;
            bottom: 3%;
            left: 58%;

            @media #{$xl} {
                left: 62%;
            }

            @media #{$lg} {
                left: 44%;
            }

            @media #{$md} {
                left: 52%;
            }

            & i {
                color: var(--tp-theme-sec-color);
            }
        }

    }

    &-slider-left {
        top: 30%;
        right: 182px;
        z-index: 1;
        font-size: 52px;

        @media #{$xxlm,$xl,$md,$xs} {
            top: inherit;
            bottom: -5px;
            right: inherit;
            left: 110px;
        }

        @media #{$lg} {
            right: 73px;
        }

        &-2 {
            z-index: 1;
            font-size: 52px;
            left: 47%;
            top: 72%;

            & i {
                color: var(--tp-white);
            }

            @media #{$xxlm,$xl} {
                left: 48%;
            }

            @media #{$xl} {
                top: 74%;
            }

            @media #{$lg} {
                left: 59%;
                top: 68%;
            }

            @media #{$md} {
                left: 75%;
                top: 65%;
            }
        }

        &-3 {
            z-index: 1;
            font-size: 52px;
            left: 64%;
            top: 89%;

            @media #{$xl} {
                left: 69%;
            }

            @media #{$lg} {
                left: 58%;
            }

            @media #{$md} {
                left: 67%;
            }

            & i {
                color: var(--tp-theme-sec-color);
            }
        }
    }

    &-slider-button {
        @media #{$xs} {
            position: static;
            display: inline-block;
            margin-top: 30px;
        }
    }

    &-img-1 {
        top: 42%;
        left: 282px;

        @media #{$xxlm,$xl} {
            left: 42px;

        }

        @media #{$xl} {
            top: 33%;
        }

        @media #{$lg,$md,$xs} {
            display: none;
        }


    }

    &-img-2 {
        right: 282px;
        top: 33%;

        @media #{$xxlm,$xl} {
            right: 35px;

        }

        @media #{$lg,$md,$xs} {
            display: none;
        }


    }

    &-img-3 {
        top: 37%;
        left: 32%;

        @media #{$xxlm,$xl} {
            left: 27%;

        }

        @media #{$xl} {
            left: 23%;

        }

        @media #{$lg} {
            left: 17%;

        }

        @media #{$md} {
            left: 10%;

        }

        @media #{$xs} {
            top: 42%;
            left: 1%;
        }


    }

    &-2 {
        &-text {
            & span {
                display: inline-flex;

                & i {
                    color: var(--tp-yellow);
                    font-size: 40px;
                    @include transform(scaleX(-1));

                }
            }

            &-title {
                font-size: 60px;
                color: var(--tp-white);

                @media #{$lg} {
                    font-size: 41px;
                }

                @media #{$md} {
                    font-size: 27px;
                }

                @media #{$xs} {
                    font-size: 31px;
                }

                & i {
                    color: var(--tp-yellow);
                    font-size: 40px;
                }
            }
        }

        &-info {
            &-thumb {
                img {
                    border-radius: 15px;
                }
            }

            &-deg {
                & h4 {
                    font-size: 30px;
                    color: var(--tp-white);
                }

                & span {
                    font-size: 17px;

                    color: var(--tp-white);
                }
            }
        }
    }

    &-thumb {
        & img {
            z-index: 2;
            position: relative;
        }
    }

    &-bg {
        width: 408px;
        height: 360px;
        background-color: var(--tp-orange-2);
        border-radius: 180px 180px 80px 80px;
        top: 22%;
        left: -4px;
        z-index: 1;

        @media #{$xl} {
            left: -36px;
        }

    }

    &-quote {
        margin-right: 30px;

        & img {
            width: 475px;

        }
    }

    &-3 {
        &-info {
            &-deg {
                margin-left: 141px;



                & h4 {
                    color: var(--tp-theme-sec-color);
                }

                & span {
                    color: var(--tp-theme-sec-color);
                }
            }
        }

        &-text {
            &-title {
                font-size: 40px;
                color: var(--tp-theme-sec-color);

                @media #{$xs} {
                    font-size: 25px;
                }

                @media #{$md} {
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 33px;
                }
            }
        }
    }

    &-4 {
        &-info-deg {
            position: relative;

            & h4 {
                &:before {
                    content: "";
                    width: 100px;
                    height: 1px;
                    background-color: var(--tp-theme-body);
                    position: absolute;
                    top: 14px;
                    left: 30%;

                    @media #{$xl} {
                        left: 26%;
                    }

                    @media #{$lg} {
                        left: 22%;
                    }

                    @media #{$md} {
                        left: 10%;
                    }

                    @media #{$xs} {
                        left: 1%;

                    }
                }

                &:after {
                    content: "";
                    width: 100px;
                    height: 1px;
                    background-color: var(--tp-theme-body);
                    position: absolute;
                    top: 14px;
                    right: 30%;

                    @media #{$xl} {
                        right: 26%;
                    }

                    @media #{$lg} {
                        right: 22%;
                    }

                    @media #{$md} {
                        right: 10%;


                    }

                    @media #{$xs} {
                        right: 1%;

                    }

                }
            }
        }
    }

    &-5 {
        padding: 50px;
        border-radius: 20px;

        @media #{$lg} {
            padding: 44px;
        }

        @media #{$md,$xs} {
            margin-top: 30px;

        }

        &__star {
            & i {
                font-size: 14px;
                color: #ff824d;
            }
        }

        & p {
            font-size: 24px;
            color: var(--tp-theme-sec-color);
        }

        &__text {
            &--icon {
                width: 70px;
                height: 70px;
                text-align: center;
                line-height: 62px;
                border-radius: 100%;
            }

        }

        &__deg {
            &--name {
                font-size: 24px;
                color: var(--tp-theme-sec-color);

                @media #{$lg,$md} {
                    font-size: 20px;
                }
            }

            & span {
                font-size: 15px;
                text-transform: uppercase;
                color: var(--tp-theme-body);
            }
        }
    }
}

.tp-testimpnial-circle {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 33px;
    bottom: 178px;
    left: 45%;

    @media #{$lg} {
        left: 56%;
    }


    @media #{$md} {
        left: 72%;
    }

    &-3 {
        bottom: 6.2%;
        left: 62.2%;
        background-color: #DBDBDB;

        @media #{$xl} {
            left: 67.2%;
        }

        @media #{$lg} {
            left: 53.2%;
        }
    }
}

.ml-l-0 {
    margin-left: 0;
}

.tp-testimonial-thumb-active {
    & .swiper-slide {
        & img {


            @include transform(scale(.7));
        }

    }

    & .swiper-slide-active {
        & img {

            @include transform(scale(1));

        }
    }


}

.tp-testimonial-space {
    margin-right: -444px;

    @media #{$md,$xs} {
        margin-right: 0;
    }
}

.tp-test-circle {
    width: 60px;
    height: 60px;
    border: 1px solid var(--tp-theme-body);
    border-radius: 100%;
    display: inline-block;
    @include transition(.3s);

    &:hover {
        background-color: var(--tp-orange-3);

        & i {
            color: var(--tp-white);
        }
    }

    & i {
        font-size: 30px;
        display: block;
        text-align: center;
        line-height: 71px;
    }


}